body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.added {

  padding: 20px;
  margin-left: 0.5%;
  margin-right: 50%;
  margin-bottom: 1%;
  background-color: blanchedalmond;
  border-radius: 25px;
  color: rgb(99, 202, 168);
  border: solid;
  font-style:italic;
  font-size: larger;
}

.deleted {
  padding: 20px;
  margin-left: 0.5%;
  margin-right: 50%;
  margin-bottom: 1%;
  background-color:   blanchedalmond;
  border-radius: 25px;
  color: rgb(234, 22, 50);
  border: solid;
  font-style:italic;
  font-size: larger;
}